body{
  background-color: #0E0E0E;
  display: none;
  margin: 0;
  padding: 0;
}
object{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(0px,-20px);
}

h3{
  font-family: helvetica, sans-serif;
  color: #F4F4F4;
  font-weight: 200;
  font-size: 0.9em;
  text-align: center;
  display: none;
}

.frame{
  position: fixed;
  margin: auto;
  height: 20px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translate(0px,20px);
}
